@charset "utf-8";

html, body {
  height:100%
  margin: 0;
  min-width: 980px;
  padding: 0;
}

h1 {
  word-spacing: 15px;
  font: 36px/30px "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  padding-top: 60px;
  position: relative;
  text-align: left;
}

.center {
  text-align: center;
  margin: 0 auto;
  padding: 80px;
}

.list {
  margin-top: 175px;
}

.list ul {
  list-style-type: none;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff;
}

.list li {
  display: inline;
  font: 16px/20px "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  letter-spacing: .3em;
  word-spacing: .4em;
  text-shadow: 1px 1px 0 #fff;
}

.list li:hover {
  color: #c00;
  cursor: default;
}

.first {
  border-right: 1px dotted #666;
  padding-right: 40px;
}

.middle {
  border-right: 1px dotted #666;
  padding-left: 40px;
  padding-right: 40px;
}

.last {
  padding-left: 40px;
}
